/* https://autoprefixer.github.io/ru/ */

/* ШРИФТЫ */

/* cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('PT Sans Narrow'),
    local('PTSans-Narrow'),
    url('../fonts/ptsansnarrow.woff2') format('woff2'),
    url('../fonts/ptsansnarrow.woff') format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('PT Sans Narrow Bold'),
    local('PTSans-NarrowBold'),
    url('../fonts/ptsansnarrowbold.woff2') format('woff2'),
    url('../fonts/ptsansnarrowbold.woff') format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* БАЗОВЫЕ СТИЛИ */

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

* {
  outline: 1px solid gray;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ФОРМЫ */

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

/* ХЕДЕР */

.main-header {
  width: 100%;
  margin-bottom: 75px;
}

.main-header-logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 371px;
  height: 155px;
}

/* НАВИГАЦИЯ */

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.main-navigation-wrap {
  width: 100%;
  margin-bottom: 60px;
  background-color: #000000;
}

.main-navigation-wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 620px;
  list-style: none;
}

.site-nav-item a {
  color: #ffffff;
}

.site-nav-item a:hover,
.site-nav-item a:focus {
  background-color: #242424;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 140px;

  list-style: none;
}

.login-link {
  color: #ffffff;
}

.login-link:hover,
.login-link:focus {
  background-color: #242424;
}

/* ПРЕИМУЩЕСТВА*/

.features {
  margin-bottom: 80px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-title {
  margin: 0;
  font-size: 30px;
  line-height: 42px;
}

.feature-item {
  width: 300px;
  text-align: center;
}

.feature-desc {
  margin: 0;
  padding: 0;
}

/* НОВОСТИ */

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000000;

  padding: 50px 80px;
  margin-bottom: 35px;

  background-color: #f8f5f2;
  background-image: url("../img/grain-back.png");
  background-position: 0 0;
  background-repeat: repeat;
 }

.news {
  width: 380px;
}

.news-header {
  margin: 0;
  font-size: 30px;
  line-height: 42px;
 }

.news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-text {
  margin: 0;
}

.news time {
  text-transform: none;
}

/* ГАЛЕРЕЯ */

.gallery {
  width: 300px;
}

.gallery-header {
  margin: 0;
  padding: 0;
}

.gallery-content {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-photo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* КОНТАКТЫ */

.contacts {
  width: 380px;
}

.contacts-header {
  margin: 0;
}

.contacts-address,
.contacts-time {
  margin: 0;
}

/*ЗАПИСАТЬСЯ */

.appointment {
  width: 300px;
}

.appointment-title {
  margin: 0;
}

.appointment-info {
  margin: 0;
}

.appointment-item {
  margin: 0;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

/* СТРАНИЦА КАТАЛОГА */

.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.bc-current a {
  color: #aba9a7;
}

/* ФИЛЬТР */

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

/* ФУТЕР */

.main-footer {
  margin-top: 65px;
  padding: 60px 0;

  color: #ffffff;

  background-color: #222222;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts-link {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.social-text {
  margin: 0;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

/* МОДАЛКА */

.modal {
  display: none;
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/grain-back.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore a:hover,
.restore a:focus {
  text-decoration: none;
}

/* КАТАЛОГ */

.inner-page {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/grain-back.png");
  background-position: 0 0;
  background-repeat: repeat;
}
