/* ШРИФТЫ */

/* cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('PT Sans Narrow'),
    local('PTSans-Narrow'),
    url('../fonts/ptsansnarrow.woff2') format('woff2'),
    url('../fonts/ptsansnarrow.woff') format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('PT Sans Narrow Bold'),
    local('PTSans-NarrowBold'),
    url('../fonts/ptsansnarrowbold.woff2') format('woff2'),
    url('../fonts/ptsansnarrowbold.woff') format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* БАЗОВЫЕ СТИЛИ */

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* ФОРМЫ */

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

/* НАВИГАЦИЯ */

.main-navigation {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.site-navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-list a {
  color: #ffffff;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus {
  background-color: #242424;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation a {
  color: #ffffff;
}


.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

/* ПРЕИМУЩЕСТВА*/

.features-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.feature-item {
	text-align: center;
}

/* НОВОСТИ */

.index-columns {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/grain-back.png");
  background-position: 0 0;
  background-repeat: repeat;
 }

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
 }

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

/* ГАЛЕРЕЯ */

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

/* КОНТАКТЫ И ЗАПИСАТЬСЯ */

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

/* СТРАНИЦА КАТАЛОГА */

.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.bc-current a {
  color: #aba9a7;
}

/* ФИЛЬТР */

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

/* ФУТЕР */

.main-footer {
  color: #ffffff;

  background-color: #222222;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

/* МОДАЛКА */

.modal {
  display: none;
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/grain-back.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
	font-size: 30px
	line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore a:hover,
.restore a:focus {
	text-decoration: none;
}

/* КАТАЛОГ */

.inner-page {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/grain-back.png");
  background-position: 0 0;
  background-repeat: repeat;
}
